*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

img {
    width: 180px;
    height: 120px;
    border: 4px solid #C59D5F;
    border-radius: 5px;
    object-fit: cover;
}

hr{
    text-align: center;
    border: 2px solid #C59D5F ;
    width: 50px;
}
.container {
    display: flex; 
    flex-direction: column;
    gap: 50px;
    width: 1080px;
    margin:auto;
    background-color: rgb(241,245,248);
    font-family: 'Cairo', sans-serif;
    margin-top: 59px;
}

.menu-container{
    display: flex;
    flex-direction: column;
    gap: 25px;

}


/* MENU */
.menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.menu-btns{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu-btn{
    padding: 5px 10px;
    border-radius: 5px;
    color: #C59D5F
}

#food-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.item-contents{
    display: flex; 
    gap: 10px;
    margin: 20px 40px;
}

.menu-bline{
    text-align: center;
    border:.5px solid #C59D5F ;
    width: auto;
}

.item-content{
    display: flex; 
    justify-content: space-between;
}

.item-text{
    padding-top: 10px
}
